:root {
    --bgcolor  : #beb8ac;
    --blue     : #0b83c4;
    --black    : #3D3F42;
    --white    : #f4f7ff;
    --gray     : #d8dce4;
    --lightgray: #8e9095;
}

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    list-style     : none;
    text-decoration: none;
    font-family    : 'Montserrat';
}

body {
    background-color: var(--lightgray);
}

.my-page {
    background-color: var(--gray);
    display         : grid;
    max-width           : 1400px;
    min-height      : 800px;
    grid-template-areas:
        "navig main main"
        "navig main main"
        "footer footer footer";
    grid-template-columns: 3fr 9fr;
    grid-template-rows   : 10% 75% 15%;
    margin               : 10px auto;
}

.navigation {
    display           : grid;
    grid-area         : navig;
    column-gap        : 2px;
    grid-template-rows: 1fr 4fr;
    background-color  : var(--black);
    color             : white;
    border            : 2px solid var(--bgcolor);
    padding           : 0px 10px;
}

.info-block-1 .info-block-2 .info-block-3 .info-block-4 {
    grid-area       : main;
    background-color: var(--white);
    border          : 2px solid var(--bgcolor);
    padding         : 10px;
}


.profile-img {
    width        : 150px;
    height       : 150px;
    transform    : translate(-10%, 5%);
    border-radius: 50%;
    border       : 3px solid var(--gray);
    box-shadow   : 3px 3px 3px var(--lightgray);
}

img {
    max-width    : 150px;
    margin       : 20px 20px;
    float        : left;
    border       : 1px solid var(--gray);
    border-radius: 50%;
    box-shadow   : 3px 3px 3px var(--lightgray);
}

ul {
    margin: 0px 0px;
}

.button {
    font-size : 28px;
    text-align: left;
    padding   : 25px 20px;
}

li a {
    color      : var(--gray);
    font-weight: bold;
}

.title {
    margin        : 30px;
    padding       : 10px;
    border-bottom : 1px solid var(--lightgray);
    border-top    : 1px solid var(--lightgray);
    color         : var(--blue);
    text-transform: uppercase;
    font-size     : 24px;
    font-weight   : bolder;
}

.text-about-me {
    padding    : 20px;
    width      : auto;
    height     : auto;
    text-align : justify;
    line-height: 30px;
    font-size  : 20px;
    font-weight: bold;
    color      : var(--black);
}

.text-experience,
.text-education {
    padding   : 0px 50px;
    line-height: 25px;
    text-align: justify;
}

.text-skills {
    position   : absolute;
    padding    : 20px;
    text-align : center;
    font-size  : 18px;
    font-weight: bold;
    color      : var(--black);
}

.s-box {
    width  : 45%;
    float  : left;
    padding: 10px 0px 0px 20px;
}

.s-box p {
    font-size  : 16px;
    font-weight: 600;
    padding    : 30px;
}

#progress {
    background   : var(--black);
    border-radius: 13px;
    height       : 8px;
    width        : 100%;
}

#progress:after {
    content      : '';
    display      : block;
    background   : var(--blue);
    width        : 50%;
    height       : 100%;
    border-radius: 9px;
}

#progress1 {
    background   : var(--black);
    border-radius: 13px;
    height       : 8px;
    width        : 100%;
}

#progress1:after {
    content      : '';
    display      : block;
    background   : var(--blue);
    width        : 40%;
    height       : 100%;
    border-radius: 9px;
}

#progress2 {
    background   : var(--black);
    border-radius: 13px;
    height       : 8px;
    width        : 100%;
}

#progress2:after {
    content      : '';
    display      : block;
    background   : var(--blue);
    width        : 80%;
    height       : 100%;
    border-radius: 9px;
}

#progress3 {
    background   : var(--black);
    border-radius: 13px;
    height       : 8px;
    width        : 100%;
}

#progress3:after {
    content      : '';
    display      : block;
    background   : var(--blue);
    width        : 90%;
    height       : 100%;
    border-radius: 9px;
}

.p-year-name {
    font-size  : 18px;
    font-weight: 600;
    color      : var(--blue);
}

.p-simple-text {
    font-size: 14px;
    color    : var(--black);
}

.lr-box {
    display      : block;
    padding      : 10px;
    margin-top   : 20px;
    margin-bottom: 20px;
}

.left {
    width: 25%;
    float: left;
}

.right {
    width: 75%;
    float: left;
}

footer {
    grid-area            : footer;
    display              : grid;
    column-gap           : 2px;
    grid-template-columns: 1fr 1fr;
}

.footer-1 {
    background-color: var(--black);
    border          : 1px solid var(--bgcolor);
}

.footer-2 {
    background-color: var(--black);
    border          : 1px solid var(--bgcolor);
    text-align      : center;

}

.footer-1 p {
    font-size: 18px;
    color    : var(--white);
    margin   : 10px 20px;
    padding  : 5px 10px;
}

.footer-2 a {

    align-items: center;
    color      : var(--white);
    margin     : 30px 15px;
    padding    : 10px;
}

.button:hover {
    color        : var(--white);
    background   : var(--blue);
    box-shadow   : 3px 3px 3px var(--lightgray);
}

.clearfix {
    clear: both;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .my-page {
        margin: 10px;
        min-height        : 720px;
        grid-template-rows: 0% 85% 15%;
    }

    .button {
        font-size : 24px;
        text-align: left;
    }

    .title {
        font-size: 18px;
        margin   : 10px;
        color    : var(--black);
    }

    .text-about-me {
        font-size: 15px;
    }

    .profile-img {
        width : 100px;
        height: 100px;
    }

    .text-experience,
    .text-education {
        padding   : 0px 3px;
        text-align: left;
    }

    .p-year-name {
        font-size: 13px;
    }

    .p-simple-text {
        font-size: 11px;
    }

    .s-box {
        width  : 90%;
        padding: 0px 20px 0px 20px;
    }

    footer {
        display: inline-block;
    }

    .footer-1 p {
        text-align   : center;
        justify-items: center;
        font-size    : 12px;
        padding      : 3px 5px;
    }

    .footer-2 {
        text-align: center;
    }

    .footer-2 a {
        margin: 10px auto;
    }
}

@media screen and (min-width: 360px) and (max-width: 799px) {
    .my-page {
        margin: 5px;
        min-width : 355px;
        min-height: 720px;
        grid-template-areas:
            "navig"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows   : 70px 85% 15%;
    }

    .profile {
        display: none;
    }

    img {
        max-width: 100px;
    }

    ul {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        margin         : 10px;
    }

    .button {
        font-size : 16px;
        text-align: left;
        padding   : 10px;
    }


    .title {
        margin     : 10px;
        font-size  : 16px;
        font-weight: bolder;

    }

    .text-about-me {
        padding    : 10px;
        width      : auto;
        height     : auto;
        text-align : center;
        font-size  : 13px;
        font-weight: bold;
        color      : var(--black);
    }

    .text-experience,
    .text-education {
        padding   : 0px 3px;
        text-align: left;
    }

    .p-year-name {
        font-size: 13px;
    }

    .p-simple-text {
        font-size: 11px;
    }

    .s-box {
        width      : 90%;
        line-height: 0px;
        padding    : 0px 20px 0px 20px;
    }

    footer {
        display: inline-block;
    }

    .footer-1 p {
        text-align   : center;
        justify-items: center;
        font-size    : 12px;
        padding      : 3px 5px;
    }

    .footer-2 {
        text-align: center;
    }

    .footer-2 a {
        margin: 10px auto;
    }
}
